h5 {
	color: white;
	font-family: "Lobster", cursive;
}

hr {
	width: 20%;
}

.btn {
	z-index: 0;
	margin-top: 1%;
	background-color: maroon;
}

.logo-title {
	color: black;
	/* font-style: italic; */
	font-size: 50px;
	width: 90%;
	margin: 0 auto;
}

.logo-box {
	text-align: center;
	text-shadow: 2px 2px gray;
	margin: 2% 0 5% 0;
}