.herc {
  width: 150px;
  height: 50px;
  margin-right: 1%;
  background-color: white;
}
.millennium {
  width: 120px;
  height: 50px;
  margin-right: 1%;
  background-color: white;
}
.emotion {
  width: 80px;
  height: 50px;
}

.footer {
  z-index: 1;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: black;
  font-family: "Lobster", cursive;
}

.row {
	margin-bottom: 0;
}

.non-prof {
	font-family: 'Times New Roman', Times, serif;
	color: white;
}