.event-news {
	background-color: #c0bfb5;
  padding: 1% 5% 0.8% 5%;
}

.card-news {
  height: 400px;
  width: 100%;
}

.statement {
	padding: 10% 10% 5% 10%;
	font-size: 50px;
}

.news-title {
  text-align: center;
}

.card-text {
  margin-bottom: 0;
}

h6 {
  background-color: rgb(37, 82, 0);
  padding: 3%;
  color: white;
  text-align: center;
  border: 1px solid black;
  font-family: "Anton", sans-serif;
}

h4 {
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
  position: relative;
  bottom: 100%;
}

.first {
  background-image: url(./images/jeffreyblue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 2%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.second {
  background-image: url(./images/charity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 2%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.third {
  background-image: url(./images/tristan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 2%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
